<div class="col-5">
  <form>
    <div class="row">
      <mat-form-field class="date col-6" appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker1" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      
      <mat-form-field class="col-6" appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Placeholder" [formControl]="title">
          <!-- <mat-icon matSuffix></mat-icon> -->
        </mat-form-field>
      </div>

      <button mat-button (click)="handleClick()">Submit</button>
  </form>
</div>
